.certs-header {
  font-size: 30px;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
}

.certs-body-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

@media (max-width: 768px) {
  .certs-body-div {
    grid-template-columns: 1fr;
  }

  .certs-header {
    font-size: 30px;
  }
}
